.card {
    background-color: #E4CDB0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 300px;
    min-width: 300px;
    height: 400px;
    z-index: 3;
    position: relative;
    flex-shrink: 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    overflow: visible;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #A2663C;
    height: 460px;
}

.card:hover .orderName {
    color: white;
}

.card:hover .orderNumber {
    color: white;
}

.card:hover .orderClient {
    color: white;
}

.card:hover .orderQtde {
    color: white;
}

.card:hover .orderPrice {
    color: white;
}

.cardButtons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 3rem;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.card:hover .cardButtons {
    opacity: 1;
    pointer-events: auto;
}

.actionButton {
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.3s ease;
    min-width: 80px;
}

.acceptButton {
    background-color: #2dd000;
    color: white;
}

.acceptButton:hover {
    background-color: #2BC800;
    transform: scale(1.05);
}

.rejectButton {
    background-color: #D90606;
    color: white;
}

.rejectButton:hover {
    background-color: rgb(199, 0, 20);
    transform: scale(1.05);
}

.cardImage {
    display: block;
    margin: 0 auto -2rem auto;
    position: relative;
    top: -40px;
    z-index: 4;
}

.orderName {
    font-size: 1.5rem;
    font-weight: 800;
    color: #3F1D0E;
    margin-bottom: 0.5rem;
}

.orderNumber {
    font-size: 1rem;
    font-weight: 700;
    color: #3F1D0E;
    margin-bottom: 0.5rem;
}

.orderClient {
    font-size: 1rem;
    font-weight: 600;
    color: #3F1D0E;
    margin: 2rem 0 1rem 0;
}

.cardDiv {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.orderQtde {
    font-size: 1rem;
    font-weight: 600;
    color: #3F1D0E;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #3F1D0E;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.orderPrice {
    font-size: 1.5rem;
    font-weight: 800;
    color: #208D01;
    margin-top: 1rem;
    margin-bottom: 0;
}