.header {
    background-color:#F9F6EC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

.logo {
    height: 6rem;
    width: auto;
}

.navLinks {
    display: flex;
    justify-content: space-between;
    width: 30rem;
    font-size: 1.2rem;
    padding: 1rem;
    margin-right: 2rem;
}

.link {
    text-decoration: none;
    color: #3F1D0E;
}

.link:hover {
    color: #A2663C;
}

/* Responsividade */
@media (max-width: 1024px) {
    .logo {
        height: 5rem;
    }

    .navLinks {
        width: 26rem;
        font-size: 1.1rem;
        margin-right: 1.5rem;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 0.5rem 1rem;
    }

    .logo {
        height: 4rem;
    }

    .navLinks {
        width: auto;
        gap: 1.5rem;
        font-size: 1rem;
        margin-right: 1rem;
        padding: 0.5rem;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 0.5rem;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem;
    }

    .logo {
        height: 3rem;
        margin: 0 auto;
    }

    .navLinks {
        width: 100%;
        justify-content: space-around;
        gap: 0.8rem;
        font-size: 0.85rem;
        margin-right: 0;
        padding: 0.3rem;
    }

    .link {
        font-size: 0.85rem;
    }
}