.header {
    background-color:#F9F6EC;
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 6rem;
    width: auto;
}

.navLinks {
    display: flex;
    justify-content: space-between;
    width: 30rem;
    font-size: 1.2rem;
}

.link {
    text-decoration: none;
    color: #3F1D0E;
}

.link:hover {
    color: #A2663C;
}