.page {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

.main {
    flex: 1;
    position: relative;
    background-color: #E6E2D7;
    padding: 2rem;
    overflow-y: auto;
    justify-content: center;
    z-index: 2;
}

.ballImage {
    position: absolute;
    z-index: -1;
    pointer-events: none;
    filter: drop-shadow(10px 6px 12px rgba(0, 0, 0, 0.368));
}

.ballImage.position1 {
    top: -180px;
    left: 220px;
}

.ballImage.position2 {
    top: 80px;
    right: 250px;
}


.titleSection {
    display: flex;
    gap: 0.8rem;
    flex-direction: column;
    margin: 3rem 0 2rem 0;
}

.title {
    font-size: 4rem;
    font-weight: 900;
    color: #3F1D0E;
    z-index: 5;
    position: relative;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.adminPhoto {
    border-radius: 50%;
    border: 5px solid #3F1D0E;
    object-fit: cover;
    margin-top: 2rem;
}

.button {
    background-color: #A2663CB8;
    color: #3F1D0E;
    padding: 2rem 4rem;
    border-radius: 5rem;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease;
    margin-top: 5rem;
}

.button:hover {
    background-color: #8B5530;
    color: #FFFFFF;
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}