.page {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

.main {
    flex: 1;
    position: relative;
    background-color: #E6E2D7;
    padding: 2rem;
    overflow-y: auto;
    z-index: 2;
}

.ballImage {
    position: absolute;
    z-index: -1;
    pointer-events: none;
    filter: drop-shadow(10px 6px 12px rgba(0, 0, 0, 0.368));
}

.ballImage.position1 {
    top: -180px;
    left: 220px;
}

.ballImage.position2 {
    top: 80px;
    right: 250px;
}


.titleSection {
    display: flex;
    gap: 0.8rem;
    flex-direction: column;
    margin: 3rem 0 2rem 0;
}

.title {
    font-size: 4rem;
    font-weight: 900;
    color: #3F1D0E;
    z-index: 5;
    position: relative;
}

.infoContainer {
    margin-top: 20px;
    text-align: center;
}

.adminPhoto {
    border-radius: 100%;
    object-fit: cover;
}

.infoText {
    font-size: 1.2rem;
    margin-top: 10px;
}

.logoutButton {
    margin-top: 20px;
    padding: 10px 25px;
    background-color: #d9534f;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.2s;
}

.logoutButton:hover {
    background-color: #c9302c;
}
