* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body, #__next {
  height: auto;
  overflow: auto;
  overflow-x: hidden;
}

.no-scroll {
  height: 100vh;
  overflow: hidden;
}

.pageContent {
  min-height: 100vh;
}
