.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E6E2D7;
  width: 100%;
  height: 100vh;
  padding: 20px;
}

.logoContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logoContainer .logo {
  width: auto;
  height: 100px;
}

.contentContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: aqua;
}

.posterContainer {
  background-color: rgb(255, 98, 98);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
}