.page {
    display: flex;
    position: fixed;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

.header {
    height: 4rem;
    width: 100%;
    background-color: #F9F6EC;
    padding: 1rem;
    z-index: 10;
    position: relative;
}

.main {
    flex: 1;
    position: relative;
    background-color: #E6E2D7;
    padding: 2rem;
    overflow-y: auto;
    z-index: 2;
}

.ballImage {
    position: absolute;
    z-index: -1;
    pointer-events: none;
    filter: drop-shadow(10px 6px 12px rgba(0, 0, 0, 0.368));
}

.ballImage.position1 {
    top: -180px;
    left: 220px;
}

.ballImage.position2 {
    top: 80px;
    right: 250px;
}

.titleSection {
    display: flex;
    gap: 0.8rem;
    flex-direction: column;
    margin: 3rem 0 2rem 0;
}

.title {
    font-size: 4rem;
    font-weight: 900;
    color: #3F1D0E;
    z-index: 5;
    position: relative;
}

.subtitle {
    font-size: 1.6rem;
    font-weight: 800;
    color: #3F1D0E;
}

.buttonSection {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.button {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 9rem;
    height: 2.5rem;
    border: 1px solid #d4d4d4;
    border-radius: 5rem;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 5;
    position: relative;
    cursor: pointer;
}

.cardContainer {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 1rem;
}

.cardSection {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    overflow-x: hidden;
    overflow-y: visible;
    padding: 80px 30px 80px 30px;
    flex: 1;
    scroll-behavior: smooth;
    min-height: 600px;
}

.scrollButton {
    background-color: #85AFD8;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 5;
    transition: all 0.3s ease;
    color: #fff;
    font-size: 18px;
}

.scrollButton:hover {
    background-color: #fff;
    color: #85AFD8;
    transform: scale(1.1);
}
