.container {
  position: fixed;
  inset: 0;
  background-color: #E6E2D7;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.pageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  position: relative;
  z-index: 1;
}

.ballImage {
  position: fixed;
  top: -90px;
  left: -90px;
  z-index: 20;
  pointer-events: none;
  filter: drop-shadow(8px 10px 12px rgba(0, 0, 0, 0.511));
}

.ballImage2 {
  position: fixed;
  top: 150px;
  left: 1020px;
  z-index: 0;
  pointer-events: none;
  filter: drop-shadow(8px 10px 12px rgba(0, 0, 0, 0.511));
}

.ballImage3 {
  position: fixed;
  top: 550px;
  left: 200px;
  z-index: 20;
  pointer-events: none;
  filter: drop-shadow(8px 10px 12px rgba(0, 0, 0, 0.511));
}

.ballImage4 {
  position: fixed;
  top: 500px;
  left: 1100px;
  z-index: 20;
  pointer-events: none;
  filter: drop-shadow(8px 10px 12px rgba(0, 0, 0, 0.511));
}

.contentContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1;
}

.posterContainer {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.posterImage {
  width: 45%;
  height: auto;
  position: fixed;
  z-index: 10;
}

.formContainer {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.welcomeTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #3f1d0e
}

.logo02 {
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}

.input {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 8px;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #7B7B7B;
  gap: 10px;
  margin-bottom: 20px;
}

.inLine {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.line {
  height: 1px;
  background-color: #7B7B7B;
  width: 30%;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 30px;
  margin-top: 10px;
}

.button {
  background-color: #3f1d0e !important;
  color: white !important;
  border: none !important;
  border-radius: 20px !important;
  padding: 10px !important;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  width: 35%;
  height: 40px;
  max-width: 220px;
  margin: 0 auto;
}

.button:hover {
  background-color: #5a2e14 !important;
}
